<div class="minecraft-container">
  <mat-card class="minecraft-card">
    <mat-card-header>
      <mat-card-title>
        ¡Bienvenido a Minecraft Trivia!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>¿Cuál es el bloque más fuerte del juego?</p>
      <mat-radio-group>
        <mat-radio-button value="bedrock">Bedrock</mat-radio-button>
        <mat-radio-button value="obsidian">Obsidian</mat-radio-button>
        <mat-radio-button value="stone">Stone</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>
