<body>
<mat-card>
  <mat-card-title>MENU</mat-card-title>
  <div class="actions">
    <button mat-raised-button routerLink="/maps">MAPAS</button>
    <button mat-raised-button routerLink="/ranking">RANKING</button>
    <button mat-raised-button routerLink="/result">RUTA</button>
    <button mat-raised-button routerLink="/profile">PERFIL</button>
    <button mat-raised-button routerLink="/menu">SALIR</button>
  </div>
  <div class="logo-container">
    <img src="/assets/images/upc.png" alt="UPC Logo" class="upc-logo"/>
    <p class="credit-text" routerLink="/credits">Créditos</p>
  </div>
</mat-card>
</body>


