<app-header-page></app-header-page>
<body>
<div #gameContainer>
  <!-- Ejemplo de una card -->
  <mat-card style="top: 210px; left: 195px;"  (click)="goToLevel1()">Nivel 1</mat-card>
  <mat-card style="top: 520px; left: 180px;" (click)="goToLevel2()">Nivel 2</mat-card>
  <mat-card style="top: 170px; left: 460px;" (click)="goToLevel3()">Nivel 3</mat-card>
  <mat-card style="top: 570px; left: 450px;" (click)="goToLevel4()">Nivel 4</mat-card>
  <mat-card style="top: 210px; left: 710px;" (click)="goToLevel5()">Nivel 5</mat-card>
  <mat-card style="top: 500px; left: 700px;" (click)="goToLevel6()">Nivel 6</mat-card>
  <mat-card style="top: 130px; left: 990px;" (click)="goToLevel7()">Nivel 7</mat-card>
  <mat-card style="top: 370px; left: 990px;" (click)="goToLevel8()">Nivel 8</mat-card>
  <mat-card style="top: 630px; left: 990px;" (click)="goToLevel9()">Nivel 9</mat-card>
  <mat-card style="top: 360px; left: 1265px;" (click)="goToLevel10()">Nivel 10</mat-card>
</div>
</body>
