<body>
<div class="background">
  <div class="card">
    <div class="user-info">
      <img src="assets/images/vickk.png" alt="User Image" class="user-image">
      <h2 class="title">INICIAR SESIÓN</h2>
    </div>

    <div class="button-container">
      <button class="action-button">GMAIL</button>
      <input type="text" label="Ingresa tu gmail" id="gmail" name="gmail" required class="form-input">
      <button class="action-button">CONTRASEÑA</button>
      <input type="text" id="password" name="password" required class="form-input">
      <button class="action-button" (click)="navigateMenu()">Enviar</button>
    </div>

    <!-- Sprite a la izquierda -->
    <div id="phaser-container"></div>
  </div>
</div>
</body>

