.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../../../assets/images/fb2fondo.png');
  background-size: cover;
  background-position: center;
}

.question-title {
  font-size: 1.5rem;
  color: #FFD700;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
}

.question-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.question-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.question-text {
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 20px;
  text-align: start;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  text-align: start;
}

.option {
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
}

button {
  background-color: #03A9F4;
  color: #000000;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}

button:not([disabled]):hover {
  background-color: #FFD700;
  box-shadow: 0 0 15px #FFD700;
}
