
<div class="credits-container">
  <mat-card-header>
  <button (click)="goToMenu()" class="back-button">MENU</button>
  </mat-card-header>

  <div class="credits-text">
    <div class="credits-section">
      <h2>Desarrolladoras</h2>
      <p>Shayla Lussiné Choque Puma</p>
      <p>Leydi Yaquelin Mamani Aro</p>
    </div>
    <div class="credits-section">
      <h2>Universidad</h2>
      <p>Universidad Peruana de Ciencias Aplicadas</p>
      <img src="/assets/images/upc.png" alt="Universidad" class="circle-image">
    </div>
    <div class="credits-section">
      <h2>Proyecto realizado como parte del curso</h2>
      <p>Taller de Proyecto 1</p>
    </div>
    <div class="credits-section">
      <h2>Agradecimientos especiales</h2>
      <p>Al profesor especializado y coautor Elio Jefferrson Navarrete Vilca</p>
    </div>
    <div class="credits-section">
      <h2>Herramientas</h2>
      <p>Angular, TypeScript</p>
      <p>HTML, CSS</p>
      <p>Phaser, TensorFlow</p>
      <p>Java, SprintBoot</p>
      <img src="/assets/images/phaser.png" alt="Herramientas" class="circle-image">
      <img src="/assets/images/sp.png" alt="Herramientas" class="circle-image">
      <img src="/assets/images/tensor.png" alt="Herramientas" class="circle-image">
      <img src="/assets/images/jav.png" alt="Herramientas" class="circle-image">
    </div>

    <div class="credits-section">
      <h2>Licencia</h2>
      <p>Proyecto académico sin fines de lucro</p>
    </div>


  </div>
</div>
