<div class="background">
  <div class="card">
    <div class="user-info">
      <img src="assets/images/vickk.png" alt="SignUpUser Image" class="user-image">
      <h2 class="title">REGISTRARSE</h2>
    </div>

    <form (ngSubmit)="onSignUp()" class="button-container">
      <label class="action-button">GMAIL</label>
      <input
        type="email"
        label="Ingresa tu gmail"
        id="gmail"
        name="gmail"
        required
        class="form-input"
        [(ngModel)]="user.email"
      />

      <label class="action-button">CONTRASEÑA</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="form-input"
        [(ngModel)]="user.password"
      />


      <button type="submit" class="action-button">Enviar</button>
    </form>

  </div>
</div>

