body {
  background-image: url('https://i.ibb.co/tsf859Q/fondoinicio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

/* Estilos para el título dentro de las tarjetas circulares */
.circle-title {
  color: white; /* Cambia este color si lo necesitas */
  font-size: 14px; /* Tamaño de fuente */
  text-align: center; /* Alineación central */
  padding: 5px;
  line-height: 1.2; /* Asegura que el texto se mantenga centrado incluso en varias líneas */
}


/* Estilos del contenedor principal */
.main-card {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos del contenedor de los círculos */
.circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Estilos generales de las tarjetas circulares */
.circle-card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: spin 3s infinite linear;  /* Animación de rotación */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Brillo y animación suave */
}

/* Color rojo con opacidad 80% */
.red-circle {
  background-color: rgba(255, 0, 0, 0.8);
}

/* Color amarillo con opacidad 80% */
.yellow-circle {
  background-color: rgba(70, 130, 180, 0.8);

}

/* Animación para que el círculo gire sobre su eje */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Efecto cuando el cursor se posa sobre la tarjeta */
.circle-card:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8); /* Brillo */
  transform: scale(1.1);  /* Aumentar tamaño al hacer hover */
  background-color: #00f;  /* Cambiar a azul oscuro al pasar el cursor */
}
/* Contenedor del sprite */
sprite-container {
  position: absolute;
  bottom: 50px;
  left: 10px; /* Puedes ajustar esta posición según lo que necesites */
  display: flex;
  flex-direction: column;
  align-items: center;
}

sprite img {
  width: 64px; /* Ajusta el tamaño del sprite */
  height: 64px;
  animation: moveInPlace 1s steps(4) infinite; /* Animación para moverse en el sitio */
}



/* Cuadro de diálogo encima del sprite */
.dialog-box {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
