
<body>
<!-- Tarjeta que contiene el sprite -->

<div class="card-container">
  <div id="sprite-container"></div> <!-- Contenedor donde se renderizará el sprite -->
  <mat-card>
    <mat-card-header class="center-content">
      <mat-card-title style="font-family: 'Arial Black',ui-sans-serif;color: white;">
        ¡Hola! Soy Vick, has elegido un mapa muy interesante, ahora iniciarás con un pequeño cuestionario.
        ¡SUERTE!
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card routerLink="/questionOne">
    <mat-card-header class="center-content">
      <mat-card-title>

      <img src="../../../../assets/images/iniciaruno.png" alt="Iniciar" style="width: 100%; height: auto;">
      </mat-card-title>
    </mat-card-header>
  </mat-card>

</div>
</body>

