<body>
<h1 class="titulo"><a><img src="https://i.ibb.co/y6pm5Xb/selectmap.png" alt="selectmap"></a></h1>


<div class="card-container">
  <mat-card routerLink="/welcomeQuestionnaire">
    <mat-card-header>
      <mat-card-title style="font-family: 'Press Start 2P',ui-sans-serif; color: #2563eb;">MERCADO</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/mercado.png" alt="">
  </mat-card>
  <mat-card routerLink="/welcomeQuestionnaire">
    <mat-card-header>
      <mat-card-title style="font-family: 'Press Start 2P',ui-sans-serif; color: #2563eb;">LABORATORIO</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/laboratorio.png" alt="">
  </mat-card>
  <mat-card routerLink="/welcomeQuestionnaire">
    <mat-card-header>
      <mat-card-title style="font-family: 'Press Start 2P',ui-sans-serif;color: #2563eb;" >FANTASIA</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/fantasia.png" alt="">
  </mat-card>
  <mat-card routerLink="/welcomeQuestionnaire">
    <mat-card-header>
      <mat-card-title style="font-family: 'Press Start 2P',ui-sans-serif; color: #2563eb;" >ESPACIAL</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/espacial.png" alt="">
  </mat-card>
</div>

</body>
