<app-header-page></app-header-page>

<!-- Título principal fuera de las cards -->
<h1 class="main-title">FRACCIONES</h1>

<div class="card-grid">
  <div class="dialog-card">
    <h2 class="dynamic-title-centered">¿QUÉ ES UNA FRACCIÓN?</h2>
    <ul>
      <li>Una fracción es una forma de representar una parte de un todo. Es muy útil para dividir cosas.</li>
    </ul>
  </div>

  <div class="dialog-card">
    <h2 class="dynamic-title-centered">PARTES DE UNA FRACCIÓN</h2>
    <ul>
      <li>Una fracción tiene dos partes principales: el numerador (arriba) y el denominador (abajo).</li>
    </ul>
    <img src="assets/images/partefraccion.png" alt="Partes de una fracción" class="image">
  </div>

  <div class="dialog-card">
    <h2 class="dynamic-title-centered">FRACCIONES PROPIAS</h2>
    <ul>
      <li>Fracción propia: el numerador es menor que el denominador. Ejemplo: 1/2.</li>
    </ul>
    <img src="assets/images/fraccionpropia.png" alt="Ejemplo de fracción propia" class="image">
  </div>

  <div class="dialog-card">
    <h2 class="dynamic-title-centered">FRACCIONES IMPROPIAS</h2>
    <ul>
      <li>Fracción impropia: el numerador es mayor que el denominador. Ejemplo: 5/4.</li>
    </ul>
    <img src="assets/images/fraccionimpropia.png" alt="Ejemplo de fracción impropia" class="image">
  </div>

  <div class="dialog-card">
    <h2 class="dynamic-title-centered">FRACCIONES MIXTAS</h2>
    <ul>
      <li>Fracción mixta: combina un número entero y una fracción. Ejemplo: 1 1/2.</li>
    </ul>
    <img src="assets/images/fraccionmixta.png" alt="Ejemplo de fracción mixta" class="image">
  </div>

  <div class="dialog-card">
    <h2 class="dynamic-title-centered">CONSEJOS ÚTILES</h2>
    <ul>
      <li>Simplifica las fracciones siempre que sea posible para facilitar los cálculos.</li>
      <li>Encuentra el mínimo común denominador al sumar o restar fracciones con diferentes denominadores.</li>
    </ul>
  </div>
</div>

