mat-card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

mat-card-title {
  font-weight: bold;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
